.module h4, .module caption, .inline-group h4 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/admin/level-4-bg.gif) top left repeat-x;
    color: white;
}

.module h6, .module caption, .inline-group h6 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url(../img/admin/level-3-bg.gif) top left repeat-x;
    color: white;
}

.inline-related h3 {
    
    background: #7CA0C7 url(../img/admin/level-3-bg.gif) top left repeat-x;
}
