<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>.: Luxury properties for sale and rent in Jerusalem, Israel   |   Jerusalem Luxury :.</title>

<link href="{{MEDIA_URL}}/css/old/styles.css" rel="stylesheet" />
<link href="{{MEDIA_URL}}/css/old/nav.css" rel="stylesheet" />
<link href="{{MEDIA_URL}}/css/old/home.css" rel="stylesheet" />

{# set up the flash javascript #}
<script type="text/javascript" src="{{MEDIA_URL}}/js/swfobject.js"></script>
<script type="text/javascript">swfobject.registerObject("slideshowContent", "9.0.0");</script>

<script type="text/javascript">var jslang='EN';</script>


<meta name="Keywords" content="Israel apartment rental, Jerusalem apartment rental, apartment jerusalem, apartments for rent, Jerusalem, apartments jerusalem, israel apartments, israel rentals, jerusalem, jerusalem israel, luxury homes, luxury properties for sale, luxury property, luxury real estate, properties for sale, real estate, real estate Israel, real estate Jerusalem, real estate Jerusalem Israel, real estate listings, rent apartment israel, rent jerusalem," /> 

<meta name="Description" content="Are you looking to buy a luxury dream home in Jerusalem? looking for a luxury Apartment to rent in Jerusalem? Jerusalemluxury is an online Realty business whose sole purpose is to serve your luxury property desires. We invite you to browse our site and indulge yourself along the way. Feast your eyes upon our lovely luxurious properties for sale and rent. For further information call +972-(0)-54-494-7730, or email sales@jerusalemluxury.com" />

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

</head>
<body>

    <div id="container">
        <div id="top">
            <a href="/">
                <img alt="Luxury properties for sale and rent in Jerusalem, Israel" src="{{MEDIA_URL}}/img/elements/logo.gif" />
            </a>
        </div>

        <div id="nav">
            <div id="navmenu">
                <ul>
                    <li class="sales"><a href="/sales"><span>sales</span></a</li>
                    <li class="rentals"><a href="/rentals"><span>Rentals</span></a</li>
                    <li class="clients"><a href="/clients"><span>Clients</span></a</li>
                    <li class="services"><a href="/services"><span>Services</span></a</li>
                    <li class="imp"><a href="/important"><span>Important</span></a</li>
                    <li class="lin"><a href="/links"><span>Links</span></a</li>
                </ul>
            </div>
        </div>
        
        <div id="content">
            <!-- the flash stuff --> 
            <div id="image">
			    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="768" height="398" id="slideshowContent">
                    <param name="movie" value="{{MEDIA_URL}}/swf/slideshow.swf" />
			    	<param name="scale" value="noscale" />
			    	<param name="flashvars" value="url_imagelist=http://jerusalem-luxury.dev/slideshow/image_list/home/" />
			    	<!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="{{MEDIA_URL}}/swf/slideshow.swf" width="768" height="398">
			    		<param name="scale" value="noscale" />
			    		<param name="flashvars" value="url_imagelist=http://jerusalem-luxury.dev/slideshow/image_list/home/" />
			    	<!--<![endif]-->
			    		<a href="http://www.adobe.com/go/getflashplayer">
			    			<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			    		</a>
			    	<!--[if !IE]>-->
			    	</object>
			    	<!--<![endif]-->
			    </object>
		    </div>
            <!-- end flash stuff -->

            <p><img alt="a new level of exclusive luxury holiday apartments" src="{{MEDIA_URL}}/img/elements/slogan.gif" /></p>

            <p style="margin: 0px auto; width: 640px;">
            Nunc auctor bibendum eros. Maecenas porta accumsan mauris. Etiam enim enim, elementum sed, bibendum quis, rhoncus non, metus. Fusce neque dolor, adipiscing sed, consectetuer et, lacinia sit amet, quam. Suspendisse wisi quam, consectetuer in, blandit sed, suscipit eu, eros. Etiam ligula enim, tempor ut, blandit nec, mollis eu, lectus. Nam cursus. Vivamus iaculis.
            </p> 
            
            <p>&nbsp;</p>


            <center>
                <table id="thumbs" width="1000px" border="0" cellpadding="2" cellspacing="0">
                    <tr>
                        <td>
                            {% for apartment in apartment_list %}
                            <a href="/realty/property/1/" title="nachlaot apt 1000/month"><img src="{{MEDIA_URL}}/img/{{apartment.image}}" /></a>
                            {% endfor %}
                		</td>
                	</tr>
                </table>
            </center>

            <p><img alt="" src="{{MEDIA_URL}}/img/elements/break.png" /></p>

            <br />

            <div id="address">
                <strong>Phone</strong> +972-54-494-7730 <strong>Fax</strong> +972-2-645-1102 <strong>Skype</strong> jerusalemluxury <strong>Email</strong><a href="mailto:samia@jerusalemluxury.com">samia@jerusalemluxury.com</a>
            </div>
        
            <div id="book">
                <a href="/book" title="Check Rates &amp; Availability" onclick="javascript:pageTracker._trackPageview('/custom/reservations/book_online');"><img alt="Book Online" src="{{MEDIA_URL}}/img/elements/book-up.png" /></a>
		    </div>
		
        </div> <!-- end div content -->

        <div id="subscribe">
            <a title="Send an email to Samia, JerusalemLuxury.com" href="mailto:samia@jerusalemluxury.com">
                <img bc="2" alt="Send an email to Samia, JerusalemLuxury.com" src="{{MEDIA_URL}}/img/elements/subscribe.gif" />
            </a>
        </div>

        <div id="footer">
            <div>
                <a href="/"><img bc="2" class="juniper" alt="Luxury properties for sale and rent in Jerusalem, Israel" src="{{MEDIA_URL}}/img/elements/old-city-line-art_small.gif" /></a>

                <span class="footer1">
                    <a href="/">HOME</a>
                    <a href="/sales">SALES</a>
                    <a href="/rentals">RENTALS</a>
                    <a href="/clients">CLIENTS</a>
                    <a href="/services">SERVICES</a>
                    <a href="/important">IMPORTANT!</a>
                    <a href="/links">LINKS</a>
                </span>
                    
                <br />
                <span class="footer2">COPYRIGHT &#169; 1998 
                    <a href="/">JERUSALEMLUXURY.COM</a>
                    <a href="/contact">CONTACT US</a>
                </span>


        </div>
    </div>

	<div id="trees"></div>
	<div id="treecover"></div>
</div>



</body>
</html>
