<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>.: Luxury properties for sale and rent in Jerusalem, Israel   |   Jerusalem Luxury :.</title>

<link href="{{MEDIA_URL}}/css/styles.css" rel="stylesheet" />
<link href="{{MEDIA_URL}}/css/nav.css" rel="stylesheet" />
<link href="{{MEDIA_URL}}/css/home.css" rel="stylesheet" />

{# set up the flash javascript #}
<script type="text/javascript" src="{{MEDIA_URL}}/js/swfobject.js"></script>
<script type="text/javascript">swfobject.registerObject("slideshowContent", "9.0.0");</script>

<script type="text/javascript">var jslang='EN';</script>


<meta name="Keywords" content="Israel apartment rental, Jerusalem apartment rental, apartment jerusalem, apartments for rent, Jerusalem, apartments jerusalem, israel apartments, israel rentals, jerusalem, jerusalem israel, luxury homes, luxury properties for sale, luxury property, luxury real estate, properties for sale, real estate, real estate Israel, real estate Jerusalem, real estate Jerusalem Israel, real estate listings, rent apartment israel, rent jerusalem," /> 

<meta name="Description" content="Are you looking to buy a luxury dream home in Jerusalem? looking for a luxury Apartment to rent in Jerusalem? Jerusalemluxury is an online Realty business whose sole purpose is to serve your luxury property desires. We invite you to browse our site and indulge yourself along the way. Feast your eyes upon our lovely luxurious properties for sale and rent. For further information call +972-(0)-54-494-7730, or email sales@jerusalemluxury.com" />

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

</head>
<body>

    <div id="container">
        <div id="top">
            <a href="http://www.jerusalemluxury.com">
                <img alt="Luxury properties for sale and rent in Jerusalem, Israel" src="images/logo.gif" />
            </a>
        </div>

        <div id="nav">
            <div id="navmenu">
                <ul>
                    <li class="sales"><a href="sales.htm"><span>sales</span></a</li>
                    <li class="rentals"><a href="rentals.htm"><span>Rentals</span></a</li>
                    <li class="clients"><a href="clients.htm"><span>Clients</span></a</li>
                    <li class="services"><a href="services.htm"><span>Services</span></a</li>
                    <li class="imp"><a href="important.htm"><span>Important</span></a</li>
                    <li class="lin"><a href="links.htm"><span>Links</span></a</li>
                </ul>
            </div>
        </div>
        
        <div id="content">
            {# the flash stuff #}
            <div>
			    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="768" height="398" id="slideshowContent">
                    <param name="movie" value="{{MEDIA_URL}}/swf/slideshow.swf" />
			    	<param name="scale" value="noscale" />
			    	<param name="flashvars" value="url_imagelist=http://jerusalem-luxury.dev/slideshow/image_list/home/" />
			    	<!--[if !IE]>-->
                    <object type="application/x-shockwave-flash" data="{{MEDIA_URL}}/swf/slideshow.swf" width="768" height="398">
			    		<param name="scale" value="noscale" />
			    		<param name="flashvars" value="url_imagelist=http://jerusalem-luxury.dev/slideshow/image_list/home/" />
			    	<!--<![endif]-->
			    		<a href="http://www.adobe.com/go/getflashplayer">
			    			<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
			    		</a>
			    	<!--[if !IE]>-->
			    	</object>
			    	<!--<![endif]-->
			    </object>
		    </div>

            {#
            <div id="image">
                <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">
                    <img alt="Get Flash Player" src="images/getflash.jpg" />
                </a>
            </div>

            <script type="text/javascript">
                var so = new SWFObject("{{MEDIA_URL}}/swf/home.swf", "ssp", "768", "398", "8");
                so.addVariable("xmlfile", "{{MEDIA_URL}}/images.xml");
			    so.addVariable("startalbum", "home");
			    so.addParam("allowScriptAccess", "always");
			    so.write("image");
		    </script>
            #}
        <p><img alt="a new level of exclusive luxury holiday apartments" src="images/slogan.gif" /></p>
        <p style="margin: 0px auto; width: 640px;">Two or three sentences of marketing blurb from Samia. Two or three sentences of marketing blurb from Samia. Two or three sentences of marketing blurb from Samia. Two or three sentences of marketing blurb from Samia.  Two or three sentences...</p>
<p>&nbsp;</p>


<center>
<table width="768px" border="0" cellpadding="2" cellspacing="0">
    <tr>
		<td><a href="apartments-balcony.htm"><img src="images/150-balcony.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-balcony.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-balcony.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-terrace.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-terrace.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-terrace.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-penthouse.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-penthouse.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-penthouse.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-balcony.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-balcony.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-balcony.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-terrace.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-terrace.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-terrace.jpg" /></a>
	<a href="apartments-balcony.htm"><img src="images/150-penthouse.jpg" /></a>
		</td>
	</tr>
</table>
</center>


        
<!--          <table align="center" width="40%" border="0" cellpadding="2" cellspacing="0">
    <tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="150px"><img src="images/samia.jpg" /><br />Samia Manneh-Polane </td>
		<td class="quote"><script src="js/rand.js" type="text/javascript"></script></td>
	</tr>
 
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	
	<tr>
		<td>Other</td>
		<td>10%</td>
	</tr> 
 
</table>-->
        
        <p><img alt="" src="images/break.png" /></p>
        <br />
        <div id="address"><strong>Phone</strong> +972-54-494-7730 <strong>Fax</strong> +972-2-645-1102 <strong>Skype</strong> jerusalemluxury <strong>Email</strong><a href="mailto:samia@jerusalemluxury.com">samia@jerusalemluxury.com</a></div>
        
        <div id="book"><a href="/book.htm" title="Check Rates &amp; Availability" onclick="javascript:pageTracker._trackPageview('/custom/reservations/book_online');"><img alt="Book Online" src="images/book-up.png" /></a>
		</div>
		
        </div>
        <div id="subscribe"><a title="Send an email to Samia, JerusalemLuxury.com" href="mailto:samia@jerusalemluxury.com"><img bc="2" alt="Send an email to Samia, JerusalemLuxury.com" src="http://CoconutGrove.pebbleonline.com.au/images/subscribe-up.jpg" /></a></div>

<div id="footer">
<div>
<a href="http://www.jerusalemluxury.com/"><img bc="2" class="juniper" alt="Luxury properties for sale and rent in Jerusalem, Israel" src="img/old-city-line-art_small.gif" /></a>

<span class="footer1"><a href="http://www.jerusalemluxury.com/">HOME</a> <a href="sales.htm">SALES</a>  <a href="rentals.htm">RENTALS</a>  <a href="clients.htm">CLIENTS</a>  <a href="services.htm">SERVICES</a>  <a href="important.htm">IMPORTANT!</a>  <a href="links.htm">LINKS</a></span><br />
<span class="footer2">COPYRIGHT &#169;
<script type="text/javascript">var d = new Date()
			document.write(d.getFullYear())</script>
<a href="http://www.jerusalemluxury.com">JERUSALEMLUXURY.COM</a>  <a href="contact.htm">CONTACT US</a></span>


</div>
</div>

	<div id="trees"></div>
	<div id="treecover"></div>
</div>



</body>
</html>
