{% extends "admin/base_site.html" %}



{% comment %}The following is here to allow translations strings (like in the breadcrumbs section) {% endcomment %}
{% load i18n %}
{% load webdesign %}

{% load j_form %}
{% load languages_tags %}

{% block title %}{% if add %}{% trans "Add" %} {% else %}{% trans "Change" %} {% endif %} {{opts.verbose_name|capfirst }} | Django site admin{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css" />
<link rel="stylesheet" type="text/css" href="http://jerusalem-luxury.dev/media/css/test.css" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="/admin/media/js/core.js"></script>
<script type="text/javascript" src="/admin/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/admin/media/js/getElementsBySelector.js"></script>

<script type="text/javascript" src="/admin/media/js/actions.js"></script>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}


{% block content %}

    <div id="content-main">
        <ul class="object-tools"><li><a href="history/" class="historylink">History</a></li></ul>

        <form enctype="multipart/form-data" action="." method="POST">

            {{ form_property.id }}

            <fieldset class="module aligned">
                {% form_field form_property.name "form-row"  %}
                {% form_field form_property.type "form-row"  %}
                {% form_field form_property.is_featured "form-row"  %}
            </fieldset>

            <fieldset class="module aligned">
                <h2>Availability</h2>
                {% form_field form_property.is_active "form-row"  %}
                {% form_field form_property.is_available "form-row"  %}
                {% form_field form_property.is_rent "form-row"  %}
                {% form_field form_property.is_sale "form-row"  %}
            </fieldset>


            <div class="inline-group">
                {% show_titledesc formset_descs labels.formset_descs "h2" %}
            </div>

            <fieldset class="module aligned">
                <h2>Location / Address</h2>
                {{ formset_location.management_form }}
                {% for form_loc in formset_location.forms %}
                {% form_field form_loc.street_en "form-row" %}
                {% form_field form_loc.street_he "form-row" %}
                {% form_field form_loc.zip "form-row" %}
                {% form_field form_loc.floor "form-row" %}
                {% form_field form_loc.apartment_number "form-row" %}
                {% form_field form_loc.neighborhood "form-row" %}
                {% form_field form_loc.city "form-row" %}
                {% form_field form_loc.region "form-row" %}
                {% endfor %}
            </fieldset>
        
            <fieldset class="module aligned">
                <h2>House / Apartment Details</h2>
                {{ formset_amenities.management_form }}
                {% for form_amen in formset_amenities.forms %}
                {% form_field form_amen.bedrooms "form-row" %}
                {% form_field form_amen.bathrooms "form-row" %}
                {% form_field form_amen.number_of_floors "form-row" %}
                {% form_field form_amen.floor_width "form-row" %}
                {% form_field form_amen.floor_length "form-row" %}
                {% form_field form_amen.parking "form-row" %}
                {% form_field form_amen.garden "form-row" %}
                {% form_field form_amen.balcony "form-row" %}
                {% form_field form_amen.elevators "form-row" %}
                {% form_field form_amen.has_elevator_shabbat "form-row" %}
                {% form_field form_amen.heating "form-row" %}
                {% form_field form_amen.conditioning "form-row" %}
                {% endfor %}
            </fieldset>
        
            <div class="inline-group">
                <h2>{{ labels.formset_images }}</h2>

                {{ formset_images.management_form }}
                {% for form_images in formset_images.forms %}

                    {{ form_images.id }}
            
                    <div class="tabular inline-related">
                        <h3><b>{{ labels.formset_images }}:</b>&nbsp; {% if form_images|form_value:"name" %}{{ form_images|form_value:"name" }}{% endif %}
                            <span class="delete">{{ form_images.DELETE }}{{ form_images.DELETE.label|label_class:"vCheckboxLabel inline" }}</span> </h3>

                        <fieldset class="module aligned">

                            {% form_field form_images.name "form-row"  %}
    
                            {% form_field form_images.position "form-row"  %}

                            {% form_field form_images.image_large "form-row image_large"  MEDIA_URL form_images.instance.image_large.name %}
                            {% form_field form_images.image_thumb "form-row image_thumb"  MEDIA_URL form_images.instance.image_thumb.name %}

                        </fieldset>
                    </div>

            
                    {% if form_images.nested %}

                        {% for i_dt_formset in form_images.nested %}
                        {% show_titledesc i_dt_formset labels.nested %}
                        {% endfor %}
        
                    {% endif %}
        
            {% endfor %}
        </div>

        <div class="submit-row" >
            <input type="submit" value="Save" class="default" name="_save" />
            <p class="deletelink-box"><a href="delete/" class="deletelink">Delete</a></p>
            <input type="submit" value="Save and add another" name="_addanother"  />
            <input type="submit" value="Save and continue editing" name="_continue" />
        </div>
        </form>

        
        {% if DEBUG %}
        request.POST = {{request.POST}}<br/>
        request.FILES = {{request.FILES}}<br/>
        is_valid_f = {{form_property.is_valid}}<br/>
        is_valid_fset = {{formset_images.is_valid}}<br/>
        {% endif %}


    </div>
{% endblock %}
