{% extends "admin/base_site.html" %}



{% comment %}The following is here to allow translations strings (like in the breadcrumbs section) {% endcomment %}
{% load i18n %}
{% load webdesign %}

{% block title %}Change lower | Django site admin{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="/admin/media/css/forms.css" />
<link rel="stylesheet" type="text/css" href="http://jerusalem-luxury.dev/media/css/test.css" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="/admin/media/js/core.js"></script>
<script type="text/javascript" src="/admin/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/admin/media/js/getElementsBySelector.js"></script>

<script type="text/javascript" src="/admin/media/js/actions.js"></script>
{% endblock %}


{% load nested_extras %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
     {{ item_name }}
</div>
{% endif %}{% endblock %}



{% block content %}

    <div id="content-main">

        <form enctype="multipart/form-data" action="." method="POST">
    
            <fieldset class="module aligned">
    
                <div class="form-row">
                    <div>
                    {{ form_lower.top.errors }}
                    {{ form_lower.top.label|label_class:"required" }} {{ form_lower.top }}
                    </div>
                </div>
    
                <div class="form-row">
                    <div>
                    {{ form_lower.name.errors }}
                    {{ form_lower.name.label|label_class:"required" }} {{ form_lower.name }}
                    </div>
                </div>

                <div class="form-row image_large">
                    <div>
                    {{ form_lower.image_large.errors }}
                    {{ form_lower.image_large.label|label_class:"required" }} Currently: <a target="_blank" href="{{MEDIA_URL}}/{{form_lower.instance.image_large.name}}">{{form_lower.instance.image_large.name}}</a>
                    <br />Change: {{ form_lower.image_large }}
                    </div>
                </div>

                <div class="form-row image_thumb">
                    <div>
                    {{ form_lower.image_thumb.errors }}
                    {{ form_lower.image_thumb.label|label_class:"required" }} Currently: <a target="_blank" href="{{MEDIA_URL}}/{{form_lower.instance.image_thumb.name}}">{{form_lower.instance.image_thumb.name}}</a>
                    <br />Change: {{ form_lower.image_thumb }}
                    </div>
                </div>
            </fieldset>
        
            <div class="inline-group">


                <div class="tabular inline-related">
                    {{ formset_info.management_form }}
                    <fieldset class="module">
                        <h2>Title / Description</h2>

                        <table>
                            {% for form in formset_info.forms %}
                            {% if forloop.first %}
                            <thead><tr>
                                    <th colspan="2">{{ form.language.label}}</th>
                                    <th>{{ form.title.label }}</th>
                                    <th>{{ form.desc.label }}</th>
                                    <th>{{ form.DELETE.label }}?</th>
                            </tr></thead>
                            <tbody>
                            {% endif %}
                                <tr class="{% cycle 'row1' 'row2' %} has_original">
                                    <td class="original">
                                        {% if not forloop.last %}<p>{{ form|form_initial:"title" }}</p>{% endif %}
                                        {{ form.lower }}
                                        {{ form.lower_desc }}
                                        {{ form.lower_title }}
                                    </td>

                                    <td>
                                        {{ form.language.errors }}
                                        {{ form.language }}
                                        <a href="/admin/languages/languagechoice/add/" class="add-another" id="{{ form.prefix|string_form:form.auto_id|string_form:"add_%s-language" }}" onclick="return showAddAnotherPopup(this);"> <img src="/admin/media/img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
                                        <br/>
                                        
                                    </td>
                                    <td>
                                        {{ form.title.errors }}
                                        {{ form.title }}
                                    </td>
                                    <td>
                                        {{ form.desc.errors }}
                                        {{ form.desc }}
                                    </td>
                                    <td>{% if not forloop.last %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </div>

    
                {% comment %}
                {# This is some interesting code that I just don't have the heart to get rid of #}
                <h2>Titles / Descriptions</h2>
    
                {{ formset_info.management_form }}

                {% for form in formset_info.forms %}
                <div class="inline-related">
    
                    {% if forloop.last %}
                    <h6>title / description</h6>
                    {% else %}
                    <h3><strong>title / description:</strong>&nbsp; {{form|form_initial:"title"}}
                        <span class="delete">{{ form.DELETE }} {{ form.DELETE.label|label_class:"vCheckboxLabel inline" }}</span>
                    </h3>
                    {% endif %}
    
    
                    <div class="form-row">
                        <div>
                        {{ form.language.errors }}
                        {% if form.language.is_hidden %}
                        {{ form.language }}
                        {% else %}
                        {{ form.language.label|label_class:"required" }}: {{ form.language }}
    <a href="/admin/    languages/languagechoice/add/" class="add-another" id="add_id_title_p_set-2-language_choice" onclick="return showAddAnotherPopup(this);"> <img src="/admin/media/img/admin/icon_addlink.gif" width="10" height="10" alt="Add Another"/></a>
                        {% endif %}
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div>
                        {{ form.title.errors }}
                        {% if form.title.is_hidden %}
                        {{ form.title }}
                        {% else %}
                        {{ form.title.label|label_class:"required" }}: {{ form.title }}
                        {% endif %}
                        </div>
    
                        <div>
                        {{ form.desc.errors }}
                        {% if form.desc.is_hidden %}
                        {{ form.desc }}
                        {% else %}
                        {{ form.desc.label|label_class:"required" }}: {{ form.desc }}
                        {% endif %}
                        </div>
                    </div>
    
                    <div>
                    {{ form.lower }}
                    {{ form.lower_desc }}
                    {{ form.lower_title }}
                    </div>
                </div>
                {% endfor %}
                {% endcomment %}
    
    
            {% if DEBUG %}
                request.POST = {{request.POST}}<br/>
                request.FILES = {{request.FILES}}<br/>
                is_valid = {{form_lower.is_valid}}<br/>

                [{% for t in t_list %}
                    {{ t }}&nbsp;
                {% endfor %}]


                {% for t in t_list %}
                {% dict_key h_dict t %}
                {% endfor %}

                {% content_box key %}
                <p>{% lorem %}</p>
                <p>{% lorem random %}</p>
                {% endcontent_box %}

                {% content_readmore key %}
                    <p>{% lorem %}</p>
                    {% readmore %}
                    <p>{% lorem random %}</p>
                {% endcontent_readmore %}

                -----<br/>
                {% for t in t_list %}
                    {% dict_extract h_dict t as temp_dict %}
                {% endfor %}
            {% endif %}

    
            <div class="submit-row" >
                <input type="submit" value="Save" class="default" name="_save" />
                <input type="submit" value="Save and add another" name="_addanother"  />
                <input type="submit" value="Save and continue editing" name="_continue" />
            </div>
    
        </form>
    </div>
{% endblock %}

