{% extends "admin/base_site.html" %}

{% block title %}List of books by publisher{% endblock %}

{% block content %}
<div id="content-main">
    <p>DEBUG ADMIN TEMPLATE</p>
    <form action="." method="POST">
        <table>
            {{lowerform.as_table}}
        </table>
        <br/>
        FORMSET_ERRORS:<br/>
        f_title.is_valid: {{formset_title.is_valid}}<br/>
        f_title.errors: {{formset_title.errors}}<br/>
        f_title.data: {{formset_title.data}}<br/>
        {% comment %}
        -------------<br/>
        {% for form in formset_desc.forms %}
        START-DEBUG
        <table>
            {{form.as_table}}
        </table>
        END-DEBUG
        <br/>-------------<br/>
        {{form.text.label_tag}} -- {{form.text}}<br/>
        {{form.primary.label_tag}} -- {{form.primary}}<br/>
        {{form.language_choice.label_tag}} -- {{form.language_choice}}<br/>
        {% endfor %}
        <br/>-------------<br/>
        {% endcomment %}

        {% comment %}
        <br/>----------START-DEBUG FORMSET_DESC----------<br/>
        <table>
            {{formset_desc.as_table}}
        </table>
        <br/>----------END-DEBUG FORMSET_DESC----------<br/>
        {% endcomment %}


        <br/>
        <table>
            {{formset_title}}
        </table>
        <br/>

        request.POST = {{request.POST}}<br/>
        instances = {{instances}}<br/>
        is_valid - {{lowerform.is_valid}}<br/>
        <!--
        {% for f in titleforms %}
        <table>{{f.as_table}}</table>
        {% endfor %}
        -->
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}

